apiVersion: v1
kind: Service
metadata:
  name: konductor-controller-manager
  namespace: konductor-system
spec:
  selector:
    control-plane: controller-manager
  ports:
  - name: metrics
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: health
    port: 8081
    targetPort: 8081
    protocol: TCP
